body {
    background-color: lightblue;
}

.row {
    display: flex;
    align-items: flex-end;
    padding-bottom: 1.5em
}

.chord {
    font-style: italic;
    font-weight: bold;
}
.lyrics {
    min-height: 1em;
}

.column:nth-child(1n + 2) {
    padding-left: 1.5em;
}

.column:nth-child(1n + 2) {


}

.note-2 {
    color: green;
}