
<template>
  <q-page-container>
    <div class="about q-pa-md">
      <h1>Ukulele Play Along </h1>
      <div>Shows Ukulele Tabs in <a link="https://www.chordpro.org/">ChordPro</a> format.  </div>
      <div>with a simple playback function</div>
      <div>
        <h3>Used Libraries</h3>
      </div>
      <div>https://github.com/martijnversluis/ChordSheetJS</div>
      <div>https://quasar.dev/</div>
    </div>
  </q-page-container>
</template>

<script setup lang="ts">
  import {onMounted} from "vue";

  onMounted(async () => {
    const chordsFile = await fetch(import.meta.env.BASE_URL + "/samples/cowbell.wav");
    console.log(chordsFile);
  });
</script>


<style scoped>


</style>