
<template>
  <q-page-container>
    <div class="q-pa-md">
      <q-file
          v-model="mp3File"
          label="Pick one file"
          filled
          counter
          style="max-width: 300px"
          @update:model-value="handleUpload()"
      />
      <div class="q-pa-md q-gutter-sm">
        <q-btn @click="togglePlaying" :disabled="mp3Source == null" square color="primary" :icon="playing ? 'pause' : 'play_arrow'">
          <q-tooltip class="bg-accent">Start mp3</q-tooltip>
        </q-btn>
        <q-btn @click="stopMp3" :disabled="mp3Source == null" square color="black" icon="stop" />
      </div>
      <div>
        {{ "" + seconds2TimeString(currentPlayTime) + " / " + seconds2TimeString(mp3Source?.buffer?.duration) }}
      </div>
      <div>
        <canvas id="canvas-id"></canvas>
      </div>

      <SvgWaveform :audio-buffer="audioBuffer" :currentPlayTime="currentPlayTime"/>

    </div>
  </q-page-container>

</template>

<script setup lang="ts">
import {onMounted, ref} from "vue";
import {AudioAnimationCircle} from "../lib/AudioAnimationCircle.ts";
import SvgWaveform from "../components/SvgWaveform.vue";

  let playing = ref(false)
  let started = ref(false)
  let currentPlayTime = ref(0)

  let mp3File = ref<File|null>(null)
  let audioBuffer = ref<AudioBuffer|null>(null)
  let mp3Source = ref<AudioBufferSourceNode|null>(null)
  let canvasContext: CanvasRenderingContext2D | null = null
  let audioCtx = new AudioContext();
  let gainNode = new GainNode(audioCtx, {gain: 1});
  let analyser =  new AnalyserNode(audioCtx);
  let animator = new AudioAnimationCircle();
  let intervalId: any |undefined = 0;
  let startTime = 0;

  async function handleUpload () {
    if (mp3File.value) {
      console.log('handleUpload is triggered');
      console.log(URL.createObjectURL(mp3File.value))
      console.log(mp3File.value.type)
      console.log(mp3File.value.name)
      console.log(mp3File.value.size)

      audioCtx.close().then(() => {
        playing.value = false;
        started.value = false;
        currentPlayTime.value = 0;
      });
      audioCtx = new AudioContext();

      audioBuffer.value = await mp3File.value.arrayBuffer()
          .then((blobBufferBuffer: ArrayBuffer) =>
              audioCtx.decodeAudioData(blobBufferBuffer)
          )
          .then((anAudioBuffer: AudioBuffer) => {
            return anAudioBuffer;
          })

      analyser =  new AnalyserNode(audioCtx);
      gainNode = new GainNode(audioCtx, {gain: 1});
      const fftSize = 1024;
      analyser.fftSize = fftSize;
      analyser.minDecibels = -100;
      analyser.maxDecibels = -30;
      analyser.smoothingTimeConstant = 0.8;
      analyser.connect(audioCtx.destination);
      gainNode.connect(analyser);

      const bufferSource: AudioBufferSourceNode =  new AudioBufferSourceNode(audioCtx, {buffer: audioBuffer.value}) ;
      bufferSource.connect(audioCtx.destination);
      bufferSource.connect(gainNode);
      mp3Source.value = bufferSource

      console.log("The duration of the song is of: " + bufferSource?.buffer?.duration + " seconds");
      //source.start(0)

      intervalId = setInterval(() => {
        const ts = audioCtx.getOutputTimestamp();
        //console.log(audioCtx.currentTime)
        if(started.value && ts.contextTime && mp3Source.value?.buffer?.duration) {
          currentPlayTime.value = audioCtx.currentTime - startTime;
        }
      }, 50);

      if (canvasContext != null) {
        canvasContext.beginPath();
        canvasContext.rect(20, 20, 200, 100);
        canvasContext.stroke();
      }
    }
  }

  function togglePlaying () {
    // if (audioCtx && audioCtx.state !== "closed")
    if(started.value) {
      if (audioCtx) {
        console.log(audioCtx.state)
        if (audioCtx.state === "running") {
          audioCtx.suspend().then(() => {
            playing.value = false;
            animator.stopAnimation()
          });
        } else if (audioCtx.state === "suspended") {
          audioCtx.resume().then(() => {
            playing.value = true;
            if (canvasContext != null) {
              animator.startAnimation(canvasContext, analyser, gainNode)
            }
          });
        }
      }
    } else {
      if(mp3Source.value ) {
        startTime = audioCtx.currentTime + 0.01;
        mp3Source.value.start(startTime)
        started.value = true;
        playing.value = true;
        if (canvasContext != null) {
          animator.startAnimation(canvasContext, analyser,gainNode)
        }
      }
    }
  }

  function stopMp3 () {
    if(mp3Source.value ) {
      animator.stopAnimation()
      mp3Source.value.stop()
      clearInterval(intervalId);
    }
  }

  function seconds2TimeString(timeInSeconds : number | undefined) {

    const timeToDisplay = (timeInSeconds) ? timeInSeconds : 0;
    const time = Math.round(timeToDisplay);
    const minutes = Math.floor(time / 60);
    const seconds = time - minutes * 60;

    return `${minutes.toString().padStart(2, "0")}:${seconds.toString().padStart(2, "0")}`
  }

  onMounted(async () => {
    let canvas = document.getElementById("canvas-id") as HTMLCanvasElement;
    if (canvas != null) {
      canvasContext = canvas.getContext("2d");
    }
  });
</script>

<style scoped>

svg {

}

</style>