<template>
  <q-page-container>
    <RhythmEditor :beatSettings="settings" ></RhythmEditor>
  </q-page-container>
</template>

<script setup lang="ts">

import {BeatSetting} from "../lib/rhythm.ts";
import RhythmEditor from "../components/BeatEditor.vue";
import {ref} from "vue";

let settings = ref([
  new BeatSetting(0,['C2', null, null, null, null, null, null, null], 'B11')
  , new BeatSetting(0,[null, null, 'C2', null, 'C2', null, 'C2', null], 'B8')
  , new BeatSetting(0,[null, 'C2', null, 'C2', null, 'C2', null, 'C2'], 'B12')
])



</script>

<style scoped>



</style>