<template>
  <q-page-container>
    <div class="text-h5 q-pa-md">Chord Pro Text </div>
    <div class="w-full q-pa-md" >
            <textarea
                class="full-width" rows="25" name="plain_text" id="plain-text" v-model="chordProText" :class="[
                'block w-full rounded-r-lg sm:text-sm font-mono', 'focus:border-gray-300', 'focus:ring-0',
                'border-gray-300', 'border-l-0']">

            </textarea>
    </div>

    <div class="q-pa-md q-gutter-md">
      <q-btn  color="primary" size="md" label="Import Ultimate"  @click="ultimateDialogVisible = true" />
      <q-btn  color="primary" size="md" label="Load existing song"  @click="loadExistingSongDialogVisible = true" />
      <q-btn color="primary" size="md" label="Add Template"  @click="addTemplate()" />
    </div>
    <SongPart :song-with-beats="song" :playback="playbackInfo" :settings="settings"></SongPart>
  </q-page-container>

  <q-dialog full-width  v-model="ultimateDialogVisible">
    <q-card >
      <q-bar>
        <div>Import Ultimate Guitar Chords</div>
      </q-bar>
      <div class="full-width">
            <textarea
                class="full-width" rows="30" name="plain_text" id="plain-text" v-model="ultimateSongText"
                :class="[ 'block w-full rounded-r-lg sm:text-sm font-mono', 'focus:border-gray-300', 'focus:ring-0',
                'border-gray-300', 'border-l-0']">

            </textarea>
      </div>
      <q-card-actions align="right">
        <q-btn flat label="Decline" color="primary" v-close-popup />
        <q-btn flat label="Accept" color="primary" v-close-popup @click="convertToChord()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
  <q-dialog full-width  v-model="loadExistingSongDialogVisible">
    <q-card >
      <q-bar>
        <div>Load existing Song</div>
      </q-bar>
      <q-select class="col" outlined v-model="selectedSongDescription" :options="allSongDescriptions" option-label="title" label="Song Text"
                :display-value="selectedSongDescription.title"
                stack-label>
        <template v-slot:prepend>
          <q-icon name="lyrics"/>
        </template>
      </q-select>
      <q-card-actions align="right">
        <q-btn flat label="Decline" color="primary" v-close-popup />
        <q-btn flat label="Accept" color="primary" v-close-popup @click="loadSelectedSong()" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>


<script setup lang="ts">
import ChordSheetJS from "chordsheetjs";
import {onMounted, ref, shallowRef, watch} from "vue";
  import SongPart from "../components/SongPart.vue";
import {PlaybackInformationImpl} from "../lib/playback.ts";
import {
  ChordDisplaySettings,
  removeEmptyChords,
  SongWithBeatPerChord
} from "../lib/chordpro.ts";
import {SongDescription} from "../lib/song.ts";


  let ultimateSongText = ref('')
  let chordProText = ref('')
  let ultimateDialogVisible = ref(false)
  let loadExistingSongDialogVisible = ref(false)
  const playbackInfo = ref(new PlaybackInformationImpl());
  const settings : ChordDisplaySettings =  {showPlayTimeInLine: false, showBeatInChord:true}
  let allSongDescriptions = ref([{"file": "Whats_Up.cho", "title": "Whats Up", "artist": "4 Non Blondes"}])
  let selectedSongDescription = ref({"file": "", "title": "", "artist": "", "url": ""})

  const formatter = new ChordSheetJS.ChordProFormatter();
  let song = shallowRef<SongWithBeatPerChord | null>(null);

  onMounted(async () => {
   const chordsFile = await fetch(import.meta.env.BASE_URL + "/songs/songs.json");
   const songDescriptions = await chordsFile.json() as SongDescription[];
    playbackInfo.value.countInBars = 0;

   songDescriptions.sort((a, b) => {
      const nameA = a.title.toUpperCase(); // ignore upper and lowercase
      const nameB = b.title.toUpperCase(); // ignore upper and lowercase
      if (nameA < nameB) {
        return -1;
      }
      if (nameA > nameB) {
        return 1;
      }

      // names must be equal
      return 0;
    });
    allSongDescriptions.value = songDescriptions
    });
  function convertToChord () {
    const ultimateParser = new ChordSheetJS.UltimateGuitarParser();
    const ultimateSong = ultimateParser.parse(ultimateSongText.value);
    removeEmptyChords(ultimateSong.lines)
    chordProText.value = formatter.format(ultimateSong)
  }

  function addTemplate () {
    let songText =
`{title:  }
{artist:  }
{key: C}
{duration: 0:00}

{start_of_verse: Intro}

{end_of_verse}

{start_of_chorus}

{end_of_chorus}
`;
    chordProText.value = songText + chordProText.value;
  }

  watch(chordProText, () => {
    console.log("Read: ")
    song.value = new SongWithBeatPerChord(chordProText.value, false);
  })

  async function loadSelectedSong() {

    console.log("start load")
    const songFile = await fetch(import.meta.env.BASE_URL + "/songs/" + selectedSongDescription.value.file);
    const songText = await songFile.text();
    chordProText.value = songText;
  }

</script>

<style scoped>

</style>