<template>

  <div class=" row">
    <q-select class="col-12 col-md-4 q-pr-md" dense outlined v-model="setting.selectedSample" :options="beatSampleDefinitions" option-label="name"
              :label="'Sample ' + setting.nr"
              :display-value="setting?.selectedSample?.name"
              stack-label>
      <template v-slot:prepend>
        <q-icon name="show_chart"/>
      </template>
    </q-select>
    <div class="col-12 col-md-8">
      <q-checkbox :class="{ 'beatActive': (beat == index)}" v-for="(_c,index) in [0, 1,2,3,4,5,6,7]"
                  v-model="setting.beats[index]"
                  true-value="C2" :false-value=null size="md" color="teal" checked-icon="music_note"
                  unchecked-icon="music_off"/>
    </div>
  </div>
</template>


<script setup lang="ts">


import {BeatSetting, beatSampleDefinitions} from "../lib/rhythm.ts";

defineProps<{
  setting: BeatSetting,
  beat: number,
}>()


</script>


<style scoped>

.beatActive {
  background-color: aliceblue;
  border-radius: 25px;
}
</style>