<template>

    <div class="q-pa-md">

      <div class="q-pa-md q-gutter-sm">
        <q-btn @click="togglePlaying" :disabled="false" square color="primary" :icon="'play_arrow'">
          <q-tooltip class="bg-accent">Start mp3</q-tooltip>
        </q-btn>
        <q-btn @click="stopRhythm" square color="black" icon="stop"/>
        <q-btn @click="pauseMp3" square color="black" icon="pause"/>
      </div>
      <div>
        {{ "" + seconds2TimeString(playbackInfo.playTimeMs/1000) + " / " + seconds2TimeString(playbackInfo.songDurationSec) }}
      </div>

      <div class="q-gutter-md q-pt-md q-pr-lg q-pl-sm">
        <BeatSequencerLine v-for="(setting) in beatSettings" :setting="setting" :beat="playbackInfo.beat"></BeatSequencerLine>
      </div>
      <q-item class="q-pt-md">
        <q-item-section avatar> <q-icon color="teal" name="speed"/>   </q-item-section>
        <q-item-section>
          <q-slider  v-model="bpmValue" :min="10" :max="300" :step="1" label:label-value="'Bpm: ' + bpmValue "
              @update:model-value="bpmChanged()" label-always />
        </q-item-section>
      </q-item>
    </div>


</template>

<script setup lang="ts">
import { ref, watch} from "vue";
import * as Tone from 'tone'
import BeatSequencerLine from "../components/BeatSequencerLine.vue";

import {BeatSetting} from "../lib/rhythm.ts";
import {PlaybackInformation, PlaybackInformationImpl, PlaybackRhythm} from "../lib/playback.ts";
import {seconds2TimeString} from "../lib/chordpro.ts";


const props = defineProps<{
  beatSettings: BeatSetting[]
}>()

let playbackInfo = ref<PlaybackInformation>(new PlaybackInformationImpl());
const rhythmPlayer = new PlaybackRhythm(playbackInfo.value, props.beatSettings)
let bpmValue = ref(60)

watch(props.beatSettings, () => {
  console.log(props.beatSettings)
  rhythmPlayer.changeSettings(props.beatSettings);
}, )



function togglePlaying() {
  rhythmPlayer.start()
}

function pauseMp3() {
  Tone.Transport.pause()
}

function stopRhythm() {
  rhythmPlayer.stop();
}

function bpmChanged() {
  rhythmPlayer.changedBpm( bpmValue.value);
}

</script>

<style scoped>



</style>