<template>
  <div class="column">
    <div class="bar"  v-for="(barNr) in countInBars">
      <span :class="{'played': countNumbers[barNr-1][beatNr-1] <= props.playback.beatInSong}" v-for="(beatNr) in beatsInBar">
        {{beatNr}}+
      </span>
    </div>
  </div>
</template>


<script setup lang="ts">

  import {PlaybackInformation} from "../lib/playback.ts";
  import {computed} from "vue";

  const props = defineProps<{
    beatsInBar: number
    countInBars: number
    playback: PlaybackInformation,
  }>()


  /**
   * Calculate the Beats in the bar with the cuttent number.
   * The countIn start with negative values
   *  barNr |  count
   *  2     | -11, -10, -9, -8,
   *  1     |  -7,  -6, -5, -4
   *  0     |  -3, -2, -1,  0
   * @param barNr
   */
  let countNumbers = computed(() => {

    let counts: number[][] = [];

    for(let bar: number = 0; bar < props.countInBars; bar++) {
      counts[bar] = []
      for(let count: number = 0; count< props.beatsInBar; count++) {

        counts[bar][count] =  count - 3 + ((props.countInBars-bar-1) * props.beatsInBar * -1);

        console.log(bar + " " + count + " " + counts[bar][count] );

      }
    }
    console.log(counts)
    return counts;
  })

</script>

<style scoped>

.bar {
  font-weight: bold;
}

.chord-played {
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 25px;
}

.played {
  color: rgba(52, 127, 22, 0.8);
}

.column:nth-child(1n + 2) {
  padding-left: 0.4ch;
}

</style>