<template>
  <div class="column">
    <div class="chord" :class="{ 'chord-played': isPlayed, 'time-part': hasBeatPart  }  " >{{item?.chords}}
      <span  v-if="settings.showBeatInChord && hasBeatPart">{{beatInSong}}</span>
      <span :class="[{'played': beatNr <= props.playback.beatInSong}, {'firstInBar': (beatNr-1)%4 <= 0}]"
            v-if="isPlayingChordOrNextChord" v-for="(beatNr) in beatsInItem">
        {{'°'}}
      </span>
    </div>
    <div class="lyrics song-text">{{item?.lyrics}}</div>
  </div>
</template>


<script setup lang="ts">

  import {computed} from "vue";
  import {ChordDisplaySettings, ChordLyricsPairWithBeat} from "../lib/chordpro.ts";
  import {PlaybackInformation} from "../lib/playback.ts";

  const props = defineProps<{
    item: ChordLyricsPairWithBeat,
    playback: PlaybackInformation,
    settings: ChordDisplaySettings
  }>()

  let isPlayed = computed(() => {

    const theItem = props.item;
    return theItem.hasBeatInformation() && theItem.startBeatInSong <= props.playback.beatInSong
  });

  let isPlayingChordOrNextChord = computed(() => {

    const theItem = props.item;
    const currentChordBeats = (props.playback.currentChord) ? props.playback.currentChord.beat: 0;

    return theItem.hasBeatInformation() && theItem.startBeatInSong + theItem.beat > props.playback.beatInSong
        && (theItem.startBeatInSong) <= props.playback.beatInSong + currentChordBeats;
  });

  let hasBeatPart= computed(() => {

    const theItem = props.item;
    return theItem.hasBeatInformation() && theItem.chords
  });

  let beatsInItem = computed( () => {
      const beats = [];
      for (let i = 0; i < props.item.beat; i++) {
        beats.push(props.item.startBeatInSong + i);
      }
      return beats;
  })

  let beatInSong = computed(() => {

    const theItem = props.item;
    return theItem.startBeatInSong;
  })

</script>

<style scoped>

.chord {
  font-weight: bold;
}

.chord-played {
  background-color: rgba(217, 217, 217, 0.8);
  border-radius: 25px;
}

.played {
  color: rgba(52, 127, 22, 0.8);
}

.firstInBar {
  font-size: 16px;
}

.time-part {
  font-style: italic;
}

.lyrics {
  min-height: 1em;
}

.column:nth-child(1n + 2) {
  padding-left: 0.4ch;
}

</style>