<template>

  <div class="song-line"  :class="{ 'current-line-color': isPlaybackLine, 'next-line-color': isNextLine  }" >
    <div class="column" v-if="settings.showPlayTimeInLine">{{lineStartTime}}</div>
    <template v-for="(item) in line?.chords">
      <ItemPart :item="item" :playback="playback" :settings="settings">
      </ItemPart>
    </template>
  </div>
</template>


<script setup lang="ts">
  import ItemPart from "./ItemPart.vue"
  import {computed} from 'vue'
  import {PlaybackInformation} from "../lib/playback.ts";
  import {BeatPerChordLine, ChordDisplaySettings, seconds2TimeString} from "../lib/chordpro.ts";

  const props = defineProps<{
    line: BeatPerChordLine,
    playback: PlaybackInformation
    settings: ChordDisplaySettings
  }>()

  let isPlaybackLine = computed(() => {

    return props?.playback?.currentLine != null && props.playback.currentLine.lineNumber == props.line.lineNumber

  });

  let isNextLine = computed(() => {

    return props?.playback?.nextLine != null && props.playback.nextLine.lineNumber == props.line.lineNumber

  });

  let lineStartTime = computed(() => {

    //const lineInfo = props?.playback?.allLinesWithLyrics.find( line => line.lineNumber === props.line.lineNumber)
    const timeInMs = 0; //lineInfo ? lineInfo.startTimeSec : 0;
    return seconds2TimeString(timeInMs)
  });


</script>

<style scoped>
.song-line {
  display: flex;
  align-items: flex-end;

}

.current-line-color {
  background: aliceblue;
}

.next-line-color {
  background: linear-gradient(rgba(200, 200, 200, 0.6), rgba(236, 234, 234, 0));
}

</style>