<template>
  <div class="paragraph"  ref="el">
    <div class="paragraph-title text-subtitle1 text-weight-light">{{paragraph?.name()}}</div>
    <div class="paragraph-lines row q-gutter-md">
      <LinePart
          v-for="(line) in paragraph?.lines"
          :line="line" :playback="playback" :settings="settings"
      />
    </div>
  </div>
</template>


<script setup lang="ts">

import LinePart from "./LinePart.vue"
import {BeatPerChordParagraph, ChordDisplaySettings} from "../lib/chordpro.ts";
import {PlaybackInformation} from "../lib/playback.ts";
import {ref, watch} from "vue";

const props = defineProps<{
  paragraph: BeatPerChordParagraph,
  playback: PlaybackInformation,
  settings: ChordDisplaySettings
}>()


const el = ref<HTMLInputElement | null>(null)

watch(() => props.playback.currentLine, () => {

  if (el.value && props.paragraph.lines.length > 0) {

    const linesWithLyric = props.paragraph.lines
    const lastLineNr = linesWithLyric[linesWithLyric.length-1].lineNumber
    if (lastLineNr == props.playback.currentLine?.lineNumber) {
      el.value.scrollIntoView({ behavior: "smooth" });
    }
  }
})
</script>

<style scoped>

.paragraph {
  display: grid;
  grid-template-columns: 50px 100%;
  justify-items: center;
  padding-bottom: 1em;
  counter-increment: paragraph_counter;
}
.paragraph-title {
  writing-mode: vertical-lr;
  border-bottom: 1px solid;
  border-right: 1px solid;
  transform: rotate(180deg);
}
.paragraph-title::before {
  content: " " counter(paragraph_counter) ". ";
}

.paragraph-lines {
  background-color: white;
  justify-self: start
}
</style>