<template>

  <q-page-sticky position="top-left" :offset="[0, 0]">
    <q-btn  round outline color="blue-4" text-color="blue-4" dense @click="leftDrawerOpen = !leftDrawerOpen" :icon="(leftDrawerOpen) ? 'chevron_left' : 'chevron_right' "  />
  </q-page-sticky>
  <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered behavior="desktop">
    <div class="q-gutter-md q-pt-md q-pr-lg q-pl-sm">

        <q-option-group
            v-model="selectedSongDescription"
            :options="songOptions"
            color="primary"
        />

      <q-select  v-model="songTextSize" :options="['0.90em','0.95em', '1.0em', '1.05em', '1.1em', '1.2em', '1.4em']" label="Fontsize" stack-label  />

    </div>
    <q-select v-model="transposeKey" borderless  label="Transpose to"
              @update:model-value="note => { transposeTo(note) }" :options="['C','D','E','F','G','A', 'B']"
              stack-label>
      <template v-slot:prepend>
        <q-icon name="height"/>
      </template>
    </q-select>

  </q-drawer>


  <q-page-container>
    <SongPart :song-with-beats="songWithBeats"
              :playback="playbackInfo"
              :settings="settings"></SongPart>
  </q-page-container>

</template>

<script setup lang="ts">

import { inject, onMounted, ref, watch} from 'vue'
import {Song} from "chordsheetjs";
import SongPart from "./SongPart.vue";
import {
  ChordDisplaySettings, SongWithBeatPerChord,
} from "../lib/chordpro.ts";
import {
  PlaybackByMp3,
  PlaybackInformation,
  PlaybackInformationImpl, PlaybackRhythm
} from "../lib/playback.ts";
import {titleUppercaseComparator} from "../lib/song.ts";

import {BeatSetting} from "../lib/rhythm.ts";

let allSongDescriptions = ref([{"file": "Whats_Up.cho", "title": "Whats Up", "artist": "4 Non Blondes", "url": "", "hasBeatsPerChords": false}])
let selectedSongDescription = ref({"file": "", "title": "", "artist": "", "url": "", "hasBeatsPerChords": false})
let songOptions =  ref([ { label: 'Take me Home', value: {"file": "Take_Me_Home_Country_Roads.cho", "title": "Take me Home", "artist": "Jon Denver"
    , "url": "", "hasBeatsPerChords": false}}]);

const songWithBeats = ref<SongWithBeatPerChord | null>(null);
let playbackInfo = ref<PlaybackInformation>(new PlaybackInformationImpl());
let transposeKey = ref<String | null>(null);
let settings = ref<ChordDisplaySettings>({showPlayTimeInLine: false, showBeatInChord:false});
let songTextSize=ref('1em');

let beatSettings = ref([
  new BeatSetting(0,['C1', null, null, null, null, null, null, null], 'B11')
  , new BeatSetting(0,[null, null, 'C2', null, 'C2', null, 'C2', null], 'B12')
  , new BeatSetting(0,[null, 'C3', null, 'C3', null, 'C3', null, 'C3'], 'B8')
])

const playbackRhythm = new PlaybackRhythm(playbackInfo.value,beatSettings.value);
const playbackMp3 =  new PlaybackByMp3(null, playbackInfo.value)
const drawerWidth = ref(200)
let chordSize=ref('6em');

const chordsInSong = ref<string[]>([])

const leftDrawerOpen = inject<boolean>('leftDrawer');

watch(drawerWidth, () => {
  if (drawerWidth.value === 200) {
    chordSize.value = '8em'
  } else{
    chordSize.value = '6em'
  }
})

watch(selectedSongDescription, () => {
  loadSelectedSong();
})

watch(playbackInfo, () => {
  emit('playbackChanged', playbackInfo.value)
}, { deep: true })


function transposeTo(key: string) {

  if (songWithBeats.value && key) {
    songWithBeats.value.transposeSongTo(key);
    playbackMp3.setSongParagraphs( songWithBeats?.value.paragraphs);
    playbackRhythm.setSongParagraphs( songWithBeats?.value.paragraphs);
    chordsInSong.value = [...songWithBeats.value.allChordsInSong()];
    emit('songChanged', songWithBeats.value.chordProSong)
  }
}



async function loadSelectedSong() {

  console.log("start load")
  const songFile = await fetch(import.meta.env.BASE_URL + "/songs/" + selectedSongDescription.value.file);
  const songText = await songFile.text();

  songWithBeats.value = new SongWithBeatPerChord(songText, false);

  playbackMp3.setSongParagraphs( songWithBeats?.value.paragraphs);
  playbackRhythm.setSongParagraphs( songWithBeats?.value.paragraphs);
  chordsInSong.value = [...songWithBeats.value.allChordsInSong()];
  const chordProSong = songWithBeats?.value.chordProSong;
  playbackRhythm.setCountInBeats(songWithBeats?.value.countInBeats(playbackInfo.value.countInBars))
  emit('songChanged', chordProSong)
}



onMounted(async () => {
  //const chordsFile = await fetch(import.meta.env.BASE_URL + "/songs/songs.json");
  const songDescriptions = [{"file": "Take_Me_Home_Country_Roads.cho", "title": "Take me Home", "artist": "Jon Denver"
    , "url": "", "hasBeatsPerChords": false}]
  songOptions.value =  [
    {
      label: 'Marina, 1959',
      value: {"file" : "Marina.cho", "title": "Marina", "artist": "Rocco Granata", "url": "", "hasBeatsPerChords": false }
    },{
      label: 'Schuld War Nur Der Bossa Nova, 1963',
      value:  { "file" : "Schuld_War_Nur_Der_Bossa_Nova.cho","title": "Schuld War Nur Der Bossa Nova","artist": "Manuela"
        , "url": "", "hasBeatsPerChords": false}
    },{
      label: 'Leaving On A Jet Plane, 1966',
      value:  { "file" : "Leaving_On_A_Jet_Plane.cho", "title": "Leaving On A Jet Plane", "artist": "John Denver"
        , "url": "", "hasBeatsPerChords": false }
    },{
      label: 'Take me Home, 1971',
      value: {"file": "Take_Me_Home_Country_Roads.cho", "title": "Take me Home", "artist": "Jon Denver"
        , "url": "", "hasBeatsPerChords": false}
    },
    {
      label: 'Heute Hier, Morgen Dort, 1972',
      value: {"file" : "Heute_hier_morgen_dort.cho", "title": "Heute hier, morgen dort", "artist": "Hannes Wader"
        , "url": "", "hasBeatsPerChords": false}
    }

  ]

  songDescriptions.sort(titleUppercaseComparator());
  allSongDescriptions.value = songDescriptions
});

const emit = defineEmits<{
  songChanged: [song: Song | null],
  playbackChanged: [playback: PlaybackInformation]
}>()


</script>

<style scoped>

.chord {
  max-height: v-bind(chordSize);
  transform: rotate(-90deg)
}

.current-chord {
  background-color: rgba(119, 148, 222, 0.1);
}

</style>

<style>

.song-text {

  font-size: v-bind(songTextSize);
  font-family: Arial, Helvetica, sans-serif;
}
</style>
