<template>

  <q-page-sticky position="top-left" :offset="[0, 0]">
    <q-btn  round outline color="blue-4" text-color="blue-4" dense @click="leftDrawerOpen = !leftDrawerOpen" :icon="(leftDrawerOpen) ? 'chevron_left' : 'chevron_right' "  />
  </q-page-sticky>
  <q-page-sticky position="top-right" :offset="[0, 0]">
    <q-btn  class="rotate-180"  round outline color="blue-4" text-color="blue-4" dense @click="rightDrawerOpen = !rightDrawerOpen" icon="toc"   />
  </q-page-sticky>
  <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered behavior="desktop">
    <div class="q-gutter-md q-pt-md q-pr-lg q-pl-sm">
      <q-select class="col" outlined v-model="selectedSongDescription" :options="allSongDescriptions" :option-label="obj => songLabel(obj)" label="Song Text"
                :display-value="selectedSongDescription.title"
                stack-label>
        <template v-slot:prepend>
          <q-icon name="lyrics"/>
        </template>
      </q-select>
      <q-select v-model="transposeKey" outlined label="Transpose to"
                @update:model-value="note => { transposeTo(note) }" :options="['C','D','E','F','G','A', 'B']"
                stack-label>
        <template v-slot:prepend>
          <q-icon name="height"/>
        </template>
      </q-select>

      <q-card>
        <q-card-section>
          <div class="text-h6">Playback</div>
        </q-card-section>
        <q-tabs
            v-model="playbackTab" dense class="text-grey" active-color="primary" indicator-color="primary"
            align="justify" narrow-indicator        >
          <q-tab name="rhythm" label="Rhythm" />
          <q-tab name="mp3" label="MP3" />
        </q-tabs>
        <q-separator />
        <q-tab-panels v-model="playbackTab" animated>
          <q-tab-panel name="rhythm">
            <q-item class="q-pt-md">
              <q-item-section avatar> <q-icon color="teal" name="speed"/>   </q-item-section>
              <q-item-section>
                <q-slider  v-model="bpmValue" :min="10" :max="300" :step="1" :label-value="bpmValue + ' bpm'"
                           @update:model-value="bpmChanged()" label label-always/>
              </q-item-section>
            </q-item>
            <q-btn outline round color="blue" icon="edit" @click="rhythmEditorVisible = true"/>
            <q-toggle v-model="muteRhythm" label="Mute"/>
          </q-tab-panel>
          <q-tab-panel name="mp3">
            <q-file v-model="mp3File" label="Pick playalong MP3" filled counter style="max-width: 300px"
                    @update:model-value="handleUploadMp3()">
              <template v-slot:prepend>
                <q-icon name="upload_file" @click.stop.prevent/>
              </template>
              <template v-if="mp3File" v-slot:append>
                <q-icon name="cancel" @click.stop.prevent="removeMp3File()" class="cursor-pointer"/>
              </template>
            </q-file>
          </q-tab-panel>
        </q-tab-panels>
        <q-card-section>
          <div class="q-pa-md q-gutter-sm">
            <q-btn @click="togglePlaying" square outline color="primary" :icon="'play_arrow'">
              <q-tooltip class="bg-accent">Start Playback</q-tooltip>
            </q-btn>
            <q-btn @click="stopPlaying" square outline color="black" icon="stop"/>
          </div>
        </q-card-section>
      </q-card>

      <q-toggle v-model="showCountIn" @update:model-value="countInChanged()" icon="more_time" label="Play count in">
        <q-tooltip class="text-body1" transition-show="rotate" transition-hide="rotate">
          Play count in before song starts <br/>
        </q-tooltip>
      </q-toggle>
      <q-toggle v-model="transposeToEasyChords" icon="more_time" label="Transponse to easy chords">
        <q-tooltip class="text-body1" transition-show="rotate" transition-hide="rotate">
        </q-tooltip>
      </q-toggle>
      <q-select  v-model="songTextSize" :options="['0.90em','0.95em', '1.0em', '1.05em', '1.1em', '1.2em']" label="Fontsize" stack-label  />
      <q-btn outline :href="selectedSongDescription.url" icon="videocam" target="_blank" label="You Tube" :disable="youTubeEnabled"   />
    </div>
  </q-drawer>

  <q-drawer show-if-above v-model="rightDrawerOpen" side="right" :width="drawerWidth">
    <h5>Chords</h5>
    <div class="q-gutter-md q-pt-md q-pr-lg q-pl-sm">
      <q-select outlined v-model="drawerWidth" :options="[{label: '200', value:200}, {label: '100', value:100} ]" emit-value label="Size" />
    </div>
    <div class="chords">

      <q-card class="my-card" v-for="(chord) in chordsInSong">
        <q-item>
          <q-item-section>
            <q-item-label class="text-h5 text-center" :class="{ 'current-chord': chord == playbackInfo.currentChord?.chords}" >{{ chord }}</q-item-label>
          </q-item-section>
        </q-item>

        <q-img class="chord" fit="scale-down" :src="chordPath(chord)" :alt="'Chord ' + chord"/>
      </q-card>
    </div>
  </q-drawer>

  <q-dialog full-width  v-model="rhythmEditorVisible">
    <q-card >
      <RhythmEditor :beatSettings="beatSettings" ></RhythmEditor>
      <q-card-actions align="right">
        <q-btn flat label="Decline" color="primary" v-close-popup />
        <q-btn flat label="Accept" color="primary" v-close-popup  @click="setBeatsInRhythm()"/>
      </q-card-actions>
    </q-card>
  </q-dialog>


  <q-page-container>
    <SongPart :song-with-beats="songWithBeats"
              :playback="playbackInfo"
              :settings="settings"></SongPart>
  </q-page-container>

</template>

<script setup lang="ts">

import {computed, inject, onMounted, ref, watch} from 'vue'
import {Song} from "chordsheetjs";
import SongPart from "./SongPart.vue";
import {
  ChordDisplaySettings, SongWithBeatPerChord,
} from "../lib/chordpro.ts";
import {
  PlaybackByMp3,
  PlaybackControl,
  PlaybackInformation,
  PlaybackInformationImpl, PlaybackRhythm
} from "../lib/playback.ts";
import {SongDescription, titleUppercaseComparator} from "../lib/song.ts";
import * as Tone from "tone";
import RhythmEditor from "./BeatEditor.vue";
import {BeatSetting} from "../lib/rhythm.ts";

let rhythmEditorVisible = ref(false);
let muteRhythm = ref(false);
let playbackTab =  ref('rhythm');
let bpmValue = ref(60);
let allSongDescriptions = ref<SongDescription[]>([{"file": "", "title": "", "artist": "", "url":"", "hasBeatsPerChords": false}])
let selectedSongDescription = ref<SongDescription>({"file": "", "title": "", "artist": "", "url": "", "hasBeatsPerChords": false})

const songWithBeats = ref<SongWithBeatPerChord | null>(null);
let playbackInfo = ref<PlaybackInformation>(new PlaybackInformationImpl());
let mp3File = ref<File | null>(null);
let transposeKey = ref<String | null>(null);
let settings = ref<ChordDisplaySettings>({showPlayTimeInLine: false, showBeatInChord:false});
let transposeToEasyChords = ref(true);
let showCountIn = ref(false);
let songTextSize=ref('1em');

let beatSettings = ref([
  new BeatSetting(0,['C1', null, null, null, null, null, null, null], 'B11')
  , new BeatSetting(0,[null, null, 'C2', null, 'C2', null, 'C2', null], 'B12')
  , new BeatSetting(0,[null, 'C3', null, 'C3', null, 'C3', null, 'C3'], 'B8')
])

const playbackRhythm = new PlaybackRhythm(playbackInfo.value,beatSettings.value);
const playbackMp3 =  new PlaybackByMp3(null, playbackInfo.value)
let playbackControl: PlaybackControl = playbackRhythm
const drawerWidth = ref(200)
let chordSize=ref('6em');

const chordsInSong = ref<string[]>([])

const leftDrawerOpen = inject<boolean>('leftDrawer');
const rightDrawerOpen = inject<boolean>('rightDrawer');

let youTubeEnabled= computed(() => {

  return !selectedSongDescription.value.url
});

watch(drawerWidth, () => {
  if (drawerWidth.value === 200) {
    chordSize.value = '8em'
  } else{
    chordSize.value = '6em'
  }
})

watch(selectedSongDescription, () => {
  loadSelectedSong();
})

watch(playbackInfo, () => {
  emit('playbackChanged', playbackInfo.value)
}, { deep: true })

watch(muteRhythm, () => {
  playbackRhythm.mute(muteRhythm.value)
})

watch(playbackTab, () => {

  playbackControl.stop();
  if( playbackTab.value === 'mp3') {
    playbackControl = playbackMp3;
  } else {
    playbackControl = playbackRhythm;
  }
})

function setBeatsInRhythm() {

  console.log(beatSettings.value)
  playbackRhythm.changeSettings(beatSettings.value);
}

function songLabel(description: SongDescription) {

  const hasBeatsLabel = description.hasBeatsPerChords ? " (B)" : "";
  return description.title + hasBeatsLabel

}

function transposeTo(key: string) {

  if (songWithBeats.value && key) {
    songWithBeats.value.transposeSongTo(key);
    playbackMp3.setSongParagraphs( songWithBeats?.value.paragraphs);
    playbackRhythm.setSongParagraphs( songWithBeats?.value.paragraphs);
    chordsInSong.value = [...songWithBeats.value.allChordsInSong()];
    emit('songChanged', songWithBeats.value.chordProSong)
  }
}

function togglePlaying() {

  if (songWithBeats.value) {
    Tone.Transport.bpm.value = bpmValue.value;
    playbackControl.start();
    Tone.Transport.bpm.value = bpmValue.value;
  }
}

function stopPlaying() {
  playbackControl.stop();
}

async function loadSelectedSong() {

  console.log("start load")
  const songFile = await fetch(import.meta.env.BASE_URL + "/songs/" + selectedSongDescription.value.file);
  const songText = await songFile.text();

  songWithBeats.value = new SongWithBeatPerChord(songText, transposeToEasyChords.value);

  playbackMp3.setSongParagraphs( songWithBeats?.value.paragraphs);
  playbackRhythm.setSongParagraphs( songWithBeats?.value.paragraphs);
  chordsInSong.value = [...songWithBeats.value.allChordsInSong()];
  const chordProSong = songWithBeats?.value.chordProSong;
  playbackRhythm.setCountInBeats(songWithBeats?.value.countInBeats(playbackInfo.value.countInBars))
  emit('songChanged', chordProSong)
}

async function handleUploadMp3() {
  if (mp3File.value) {

    let audioCtx = new AudioContext();
    await audioCtx.resume()
    let audioBuffer = await mp3File.value.arrayBuffer()
        .then((blobBufferBuffer: ArrayBuffer) =>
            audioCtx.decodeAudioData(blobBufferBuffer)
        )
        .then((anAudioBuffer: AudioBuffer) => {
          return anAudioBuffer;
        })

    if (audioBuffer) {
      playbackMp3.audioBuffer = audioBuffer
    }
  }
}

async function removeMp3File() {

  mp3File.value = null;
  playbackMp3.audioBuffer = null
  playbackControl.stop()
}

function countInChanged() {

  playbackInfo.value.countInBars = showCountIn.value ? 2 : 0;
  if (songWithBeats?.value) {
    playbackRhythm.setCountInBeats(songWithBeats?.value.countInBeats(playbackInfo.value.countInBars))
  }
}

function bpmChanged() {
  Tone.Transport.bpm.value = bpmValue.value;
}

function chordPath(chordName: string) {
  return import.meta.env.BASE_URL + '/chords/ukulele/' + chordName + '.svg'
}

onMounted(async () => {
  const chordsFile = await fetch(import.meta.env.BASE_URL + "/songs/songs.json");
  const songDescriptions = await chordsFile.json() as SongDescription[];

  songDescriptions.sort(titleUppercaseComparator());
  allSongDescriptions.value = songDescriptions
});

const emit = defineEmits<{
  songChanged: [song: Song | null],
  playbackChanged: [playback: PlaybackInformation]
}>()


</script>

<style scoped>

.chord {
  max-height: v-bind(chordSize);
  transform: rotate(-90deg)
}

.current-chord {
  background-color: rgba(119, 148, 222, 0.1);
}

</style>

<style>

.song-text {

  font-size: v-bind(songTextSize);
  font-family: Arial, Helvetica, sans-serif;
}
</style>
