<template>
  <h4 class="song-title">{{ songWithBeats?.title }}</h4>
  <div class="song song-text">
  <CountInLinePart v-if="songWithBeats && countInBars" class="count-in" :count-in-bars="countInBars" :beats-in-bar="beatsInBar" :playback="playback"></CountInLinePart>
  <ParagraphPart
      v-for="(paragraph) in songWithBeats?.paragraphs"
      :paragraph="paragraph" :playback="playback" :settings="settings"
  />
  </div>
</template>


<script setup lang="ts">
  import ParagraphPart from "./ParagraphPart.vue"
  import {ChordDisplaySettings, SongWithBeatPerChordI} from "../lib/chordpro.ts";
  import {PlaybackInformation} from "../lib/playback.ts";
  import CountInLinePart from "./CountInLinePart.vue";
  import {computed} from "vue";

  const props = defineProps<{
    songWithBeats: SongWithBeatPerChordI | null,
    playback: PlaybackInformation,
    settings: ChordDisplaySettings
  }>()

  let beatsInBar = computed(() => {

    return  props?.songWithBeats != null ? props?.songWithBeats.beatsInBar : 0;
  });

  let countInBars = computed(() => {

    return  props.playback.countInBars;
  });

</script>


<style scoped>

.song {
  counter-reset: paragraph_counter;
  padding-left: 10px;
}

.song-title {
  padding-left: 10px;
}

.count-in {
  padding-bottom: 20px;
}

</style>