<script setup lang="ts">

  import {computed, ref, watch} from "vue";

  const props = defineProps<{
    audioBuffer?: AudioBuffer | null,
    currentPlayTime?: number
  }>()

  let dataPoints = []
  let svgLine1 = ref("0,0")
  let svgLine2 = ref("0,0")
  let bufferRatio = ref(0)
  let xPositions = ref([0])

  watch(() => props.audioBuffer, () =>{
    console.log("Read: " )
    if (props.audioBuffer) {
      dataPoints = calculateWaveData(props.audioBuffer, 1000);
      bufferRatio.value = props.audioBuffer.duration/ dataPoints.length;
      const leng = Math.round(dataPoints.length/1000)

      const posi = Array.from({ length: leng }, (_value, index) => index*1000);
      console.log(posi)
      xPositions.value =  posi

      svgLine1.value = dataPoints.map(point => "" + point.x + "," + point.y[0]).join(" ")
      svgLine2.value = dataPoints.map(point => "" + point.x + "," + point.y[1]).join(" ")
    }
  })

  let svgPlayPos = computed(() => {

    if( props.currentPlayTime  &&  props.audioBuffer) {
      const pos =  Math.abs(props.currentPlayTime) / props.audioBuffer.duration;
      const computed = dataPoints.length * pos;
      return computed;
    } else {
      return 0;
    }
  });

  function calculateWaveData(audioBuffer: AudioBuffer, height: number) {

    const margin = 10;
    const chunkSize = 500;
    const float32Array: Float32Array = audioBuffer.getChannelData(0);
    const scaleFactor = (height - margin * 2) / 2;

    let array = [],
        i = 0,
        length = float32Array.length;

    while (i < length) {
      array.push(
          float32Array.slice(i, (i += chunkSize)).reduce(function (total, value) {
            return Math.max(total, Math.abs(value));
          })
      );
    }

    let dataPoints = [];
    for (let index in array) {
      dataPoints.push({
        x: margin + Number(index),
        y: [
          height / 2 - array[index] * scaleFactor,
          height / 2 + array[index] * scaleFactor
        ]
      });
    }
    return dataPoints;
  }
</script>

<template>
  <div style="width: 100%">

    <svg viewBox="0 0 5000 1000"  height="200px">

      <rect width="5000" height="1000" style="fill:rgba(255,255,255,0.1);stroke-width:3;stroke:rgb(0,0,0)" />
      <rect :width="svgPlayPos" height="1000" style="fill:rgba(119,148,222,0.1);stroke-width:3;stroke:rgba(119,148,222,0.1)" />
      <polyline :points="svgLine1" style="fill:none;stroke:black;stroke-width:3"/>
      <polyline :points="svgLine2" style="fill:none;stroke:black;stroke-width:3"/>
      <text x="100" y="60" font-size="5em" fill="red">{{Math.round(100 * bufferRatio)}}</text>
      <text x="500" y="60"  font-size="5em" fill="red">{{Math.round(500 * bufferRatio)}}</text>
      <text  v-for="(position) in xPositions" :x="position" y="60"  font-size="5em" fill="red">{{Math.round(position * bufferRatio)}}</text>
    </svg>
  </div>
</template>

<style scoped>

</style>