<template>
  <q-layout view="hHh LpR fFf">

    <q-header reveal :reveal-offset="100" bordered class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title class="text-center">
          <span class="text-h4 q-pr-md ">{{ songTitle }}</span>
          <span class="text-subtitle2">{{ songArtist }}</span>
        </q-toolbar-title>
      </q-toolbar>

    </q-header>

    <router-view @songChanged="songChanged" @playbackChanged="playbackChanged"></router-view>
    <q-footer bordered class="bg-grey-8 text-white">
      <q-toolbar>

        <q-btn-dropdown class="rotate-180" flat label="" dropdown-icon="menu">
          <q-list>
            <q-item clickable v-close-popup to="/">
              <q-item-section avatar>
                <q-avatar icon="home" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Home</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup to="/Editor">
              <q-item-section avatar>
                <q-avatar icon="edit_note" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Editor</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup to="/Player">
              <q-item-section avatar>
                <q-avatar icon="radio" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>MP3-Player</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup to="/rhythm">
              <q-item-section avatar>
                <q-avatar icon="graphic_eq" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Rhythm</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup to="/SingAlong">
              <q-item-section avatar>
                <q-avatar icon="info" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>Sing Along</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup to="/About">
              <q-item-section avatar>
                <q-avatar icon="info" color="primary" text-color="white"/>
              </q-item-section>
              <q-item-section>
                <q-item-label>About</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>


        <q-space/>
        <div class="q-pa-md">
          <q-btn
              @click="$q.fullscreen.toggle()"
              :icon="$q.fullscreen.isActive ? 'fullscreen_exit' : 'fullscreen'"
              dense flat
          />
        </div>
        <q-input class="duration-width" rounded dense outlined bg-color="grey-1" v-model="songDuration" disable>
          <template v-slot:append>
            <q-icon :name="(isMp3Playback) ? 'upload_file' : 'lyrics' "/>
          </template>
        </q-input>

      </q-toolbar>
    </q-footer>
  </q-layout>
</template>


<script setup lang="ts">

import {provide, ref} from 'vue'
import {Song} from "chordsheetjs";
import {PlaybackByMp3, PlaybackInformation} from "./lib/playback.ts";
import {seconds2TimeString} from "./lib/chordpro.ts";

const leftDrawerOpen = ref(false)
const rightDrawerOpen = ref(false)
const songTitle = ref<string>('Ukulele Play Along')
const songArtist = ref<string>('')
const songDuration = ref<string>('00:00/00:00')
const isMp3Playback = ref(false)

provide('leftDrawer', leftDrawerOpen);
provide('rightDrawer', rightDrawerOpen)

function playbackChanged(playback: PlaybackInformation) {

  let duration = 0;
  let playtime = 0;
  if (playback) {
    isMp3Playback.value = playback instanceof PlaybackByMp3;
    duration = playback.songDurationSec;
    playtime = playback.playTimeMs
  }
  songDuration.value = seconds2TimeString((playtime / 1000)) + "/" + seconds2TimeString(duration)
}

function songChanged(song: Song | null) {
  console.log("songChanges")
  if (song) {
    songTitle.value = song.title
    if (song.artist && typeof song.artist == "string") {
      songArtist.value = song.artist;
    } else {
      songArtist.value = ''
    }
  } else {
    songTitle.value = ''
    songArtist.value = ''
  }
}

</script>


<style scoped>

.duration-width {
  max-width: 140px;
}

</style>
